input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

body {
    width: 300px;
    height: 170px;

    font-family: "Segoe UI", Tahoma, sans-serif;
}

.accent {
    color: #fa00c1;
}

.background-blur {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25'%3E%3Cdefs%3E%3Cpattern id='pattern' width='55' height='55' viewBox='0 0 40 40' patternUnits='userSpaceOnUse' patternTransform='rotate(130)'%3E%3Crect id='pattern-background' width='400%25' height='400%25' fill='rgba(247, 250, 252,1)'%3E%3C/rect%3E%3Cpath fill='rgba(250, 0, 193,1)' d='M0 21.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5zM0 61.5a 8.5-8.5 0 0 0 8.5-8.5a 11.5-11.5 0 0 1 11.5-11.5v3a-8.5 8.5 0 0 0-8.5 8.5a-11.5 11.5 0 0 1-11.5 11.5z'%3E%3C/path%3E%3Cpath fill='rgba(109, 125, 232,1)' d='M20 28a 8-8 0 0 0 8-8a 12-12 0 0 1 12-12v4a-8 8 0 0 0-8 8a-12 12 0 0 1-12 12z'%3E%3C/path%3E%3C/pattern%3E%3C/defs%3E%3Crect fill='url(%23pattern)' height='100%25' width='100%25'%3E%3C/rect%3E%3C/svg%3E");
    background-repeat: repeat;
    z-index: 0;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;
    filter: blur( 8px ) contrast( 141% ) grayscale( 0.1 );
}

.container {
    display: flex;

    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: fixed;

    color: #222;
    font-weight: bold;

    z-index: 1;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 30px;
    margin: 20px 0 0 0;
}

h2 {
    font-size: 16px;
    margin: 0;
}

.status {
    margin: 12px 0;
    font-weight: normal;
    font-size: 14px;
}

.status.green {
    color: #2ecc71;
    filter: drop-shadow(1px 1px 0 #000000)
}

.status.red {
    color: #e74c3c;
    filter: drop-shadow(1px 1px 0 #000000)
}

.toggle {
    position: relative;
    display: inline-block;
    width: 44px;
    height: 24px;
    margin: 10px 0;
}

.toggle input {
    opacity: 0;
    width: 0;
    height: 0;
}

.dot {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #6d7de8;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50px;
}

.dot:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50px;
    transition: .4s;
}

input:checked + .dot {
    background-color: #fa00c1;
}

input:checked + .dot:before {
    transform: translateX(20px);
}